<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
        	<handlers>
			<add name="1C Web-service Extension" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Program Files (x86)\1cv82\8.2.17.143\bin\wsisapi.dll" resourceType="Unspecified" requireAccess="None" />
		</handlers>
		<security>
			<authorization>
				<add accessType="Allow" users="*" />
			</authorization>
			<authentication>
				<windowsAuthentication enabled="true" useKernelMode="true">
					<providers>
						<clear />
						<add value="Negotiate" />
						<add value="NTLM" />
					</providers>
					<extendedProtection tokenChecking="Allow" />
				</windowsAuthentication>
				<basicAuthentication enabled="false" />
				<anonymousAuthentication enabled="false" />
			</authentication>
		</security>
	</system.webServer>
</configuration>